################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/
/SoundPlayer/bin
/SoundPlayer/bin/obj
/SoundPlayer/obj
/SoundPlayer/obj/Debug
/SoundPlayer/obj/Debug/netcoreapp3.1
