################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/
/SoundPlayer/bin
/SoundPlayer/bin/obj
